# Project exclude paths
/exempel-modul-1-2/bin/
/exempel-modul-3/bin/
/exempel-modul-4/bin/
/exempel-modul-5/bin/
/exempel-modul-6/bin/
/exempel-modul-7-8/bin/
/exempel-modul-9-10/bin/
/exempel-modul-11-12/bin/
/exempel-modul-13/bin/
/lab2/bin/
/lab3/bin/
/lab4/bin/
/lab5/bin/
/lab6/bin/